a{
  color:rgb(51, 51, 51);
}
.btn-default{
  background: rgb(51, 51, 51);
  color: white;
  border-color: none;
}

.btn-default-reverse{
  border-color:rgb(51, 51, 51);
  color:rgb(51, 51, 51);
  background: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    color: #49505754;
  
}

.card{
  margin: 10px 5px 0 5px;
  border-radius: 0px;
  padding: 0px;
}

.tab-content > .active {
    display: flex;
    flex-wrap: wrap;
}

.fa-1x{
  font-size: 1.5rem
}

.nav-tabs .nav-link{
  border-radius: 0px;
}


.social li{
  padding:2px;
}
input.bnt-search {
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  background-color: white;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 15px;
  background-position: 5px 4px;
  margin: 0 5px 0 0px;

}

input.bnt-search:focus {
  width: 200px;
}